/* step 1: Choose a font-family (all font pairings) [font-family]*/

/* step 2: Set default font-size [font-size]*/

/* step 3: Choose grid unit size [line-height]*/

/* step 4: Display a vertical grid */

/* step 5: Choose your typographic scale */
/* 12, 14, 16, 18, 24, 36, 48, 60, 72, 96 */

html {
	font-size: 62.5%;
}

body {
	line-height: 1.5;
	/* background-image: linear-gradient(#0ff 1px, transparent 1px);
    background-size: auto 24px; */
}

header {
	padding: 36px 0;
	background-color: #312c2b;
	text-align: center;
	color: #d8d8d8;
}

h1 {
	font-family: 'Cinzel Decorative', serif;
	font-size: 6rem;
	line-height: 9.6rem;
}

h1 span {
	font-size: 7.2rem;
	line-height: 12rem;
}

.new-line {
	display: block;
	font-family: 'Rowdies', sans-serif;
	font-size: 2.4rem;
	line-height: 4.8rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	margin-top: -24px;
}

section {
	padding: 240px 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.fable-one {
	background-color: #9e7d87;
	color: #312422;
	padding-top: 264px;
}

.fable-one h2 {
	font-family: 'Sansita', sans-serif;
	font-size: 3.6rem;
	line-height: 4.8rem;
	display: flex;
	justify-content: space-around;
	width: 840px;
	margin: 0 auto;
}

.fable-one .cat,
.fable-one .birds {
	font-size: 6rem;
	line-height: 9.6rem;
	color: #f3eaed;
}

.fable-one .cat {
	margin-top: -72px;
}

.fable-one .birds {
	margin-top: 24px;
}

.fable-one p {
	font-family: 'Caladea', serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
	width: 540px;
	margin: 24px auto 0 auto;
}

.fable-one p:last-child {
	color: #f3eaed;
}

.fable-two {
	background-color: #8691b1;
	padding: 240px 0 0 0;
}

.fable-two h2 {
	font-family: 'Alatsi', sans-serif;
	font-size: 7.2rem;
	line-height: 12rem;
	color: #121530;
}

.column {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.fable-two p {
	font-family: 'Karla', sans-serif;
	color: #1f3041;
	padding: 0;
	width: 304px;
	margin: 0 30px;
}

.images {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 174px auto 0 auto;
}

.images img {
	width: 100px;
	margin: 0 400px;
}

.fable-three {
	background-color: #9caf83;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.fable-three h2 {
	font-family: 'Beth Ellen', cursive;
	font-size: 6rem;
	line-height: 9.6rem;
	color: #3b2d24;
	margin-right: 100px;
	text-align: right;
	width: 460px;
}

.fable-three p {
	font-family: 'IM Fell DW Pica', serif;
	color: #273321;
	padding: 24px;
	width: 337px;
	background-color: #d5dfb8;
	margin-top: 96px;
	border-radius: 3px;
	border-bottom-right-radius: 100px;
	box-shadow: -5px 5px 5px 0 #80967b;
}

.fable-four {
	background-color: #c08e60;
	color: #33261f;
}

.fable-four h2 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 6rem;
	line-height: 9.6rem;
}

.fable-four p {
	font-family: 'Sulphur Point', sans-serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin: 48px auto 0 auto;
	text-align: center;
	width: 540px;
}

.fable-four span {
	font-size: 2.4rem;
	line-height: 4.8rem;
	font-style: italic;
	font-weight: bold;
	color: #f1e1d3;
	background-color: #443d39;
	padding: 12px;
}